{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<div id="main" class="row">
    <div class="four columns">

        {% if step == 1 %}
            <h4>Let's learn Flask</h4>
            <p>Flask is a micro-web-framework for Python.</p>
            <p>We are going to learn about routes and returning text and then deploy your work on an actual server with a <em>URL you can share</em>.</p>
            <p>To the right is some boilerplate. The first two lines import Flask and create an instance inside <code>app</code>.</p>
            <p>The last two lines run the app if executed directly from the Python interpreter (which it will be).</p>

            <form action="{% url route %}" method="POST">
                {% csrf_token %}
                <input type="hidden" id="code" name="code" value="{{code}}">
                <input type="submit" class="success button" value="Next &rarr;">
            </form>
        {% elif step == 2%}
            <h4>Add a route</h4>
            <p>Routes are basically urls.</p>
            <p>They look like <code>@app.route("/")</code> or <code>@app.route("/kitties")</code>.</p>
            <p>Anything after <code>/</code> is the actual URL so just <code>/</code> is the root URL.</p>
            <p><strong>Now add <code>@app.route("/")</code> underneath the comment.</strong></p>

            <form action="{% url hello %}" method="POST">
                {% csrf_token %}
                <input type="hidden" id="code" name="code" value="{{code}}">
                <input type="submit" class="success button" value="Next &rarr;">
            </form>
        {% elif step == 3%}
            <h4>Hello world</h4>
            <p>Now we define the function that will run when we hit this route.</p>
            <p>The function just has to return a string like this hello function:</p>
            <pre><code>def hello():
    return "Hello World!"</code></pre>
            <br>
            <p><strong>Now add a function that returns a string <em>directly</em> under the defined route.</strong></p>

            <form action="{% url deploy %}" method="POST">
                {% csrf_token %}
                <input type="hidden" id="code" name="code" value="{{code}}">
                <input type="submit" class="success button" value="Next &rarr;">
            </form>

        {% elif step == 4%}
            <h4>Deploying</h4>
            <p>Awesome, everything checks out.</p>
            <p>Now lets deploy this bad boy. We've already prepared an Amazon EC2 server ready for your code. We've taken care of most of the behind the scenes stuff which we will teach you in later lessons but for now all you have to do is press the magical button :)</p>

            <form action="{% url deployed %}" method="POST">
                {% csrf_token %}
                <input type="hidden" id="code" name="code" value="{{code}}">
                <input type="submit" class="success button" value="Deploy!">
            </form>

        {% elif step == 5%}
            <h4>It works!</h4>
            <p>Try it out again, edit any code and deploy again.</p>
            <p><strong>Try putting returning some HTML instead of a plain string.</strong></p>

            <form action="{% url deployed %}" method="POST">
                {% csrf_token %}
                <input type="hidden" id="code" name="code" value="{{code}}">
                <input type="submit" class="success button" value="Deploy!">
            </form>

            <p>Website deployed at <a href="http://{{server}}/" target="_blank">http://{{server}}/</a></p>
            <div id="browser">
                <iframe src="http://{{server}}/" frameborder="0"></iframe>
            </div>
        {% endif %}

    </div>
    <div class="eight columns">

        <div id="editor">{{code}}</div>

    </div>
</div>

{% endblock %}

{% block javascript %}

<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/github");
    editor.getSession().setMode("ace/mode/python");

    editor.getSession().on('change', function(e) {
        $('input#code').val(editor.getSession().getValue());
    });
</script>

{% endblock %}
